* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: philosopher-Regular;
  scroll-behavior: smooth;
}

@font-face {
  font-family: philosopher-Regular;
  src: url(/fonts/Philosopher-Regular.ttf);
}

body, html {
  width: 100vw;
  overflow-x: hidden
}


@media screen and (max-width: 1312px) {
  section {
    width: 100% !important;
    background-color: "yellow"
  }

  main {
    width: 100% !important;
  }
}

@media screen and (max-width: 900px) {
  section, main {
    width: 100% !important;
  }

}


/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(132, 130, 255, 0.2);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #8482FF;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {

  background: #4E49D6;
}